@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<br />
<br />
<br />
<br />
<br />

<div class="jumbotron">
    @* <h1 class="display-4">Email Confirmed</h1> *@
    <h1>Email Confirmed</h1>
    <hr class="my-4">
    <p>Thank you for confirming you email!</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index" role="button">View Territory</a>
</div>