@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<br />
<br />
<br />
<br />
<br />

<div class="jumbotron">
  <div class="container">
      <h4 class="mb-3"><strong>@ViewData["Title"].ToString().ToUpper()</strong></h4>
      <p>Reset link sent! Please check your email to reset your password.</p>
  </div>
</div>

