@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<br />
<br />
<br />
<br />
<br />

<div class="jumbotron">
  <div class="container">
      <h4 class="mb-3"><strong>@ViewData["Title"].ToString().ToUpper()</strong></h4>
      <p>Your password has been reset!</p>
      <button asp-page="./Login" class="btn btn-primary"
                        style="padding:10px !important; margin:0px; border:0px; border-radius: 3px"
                        >Log In</button>
  </div>
</div>
